.leftTitle {
  grid-area: leftTitle;
  align-self: end;
  justify-self: center;
}

.rightTitle {
  grid-area: rightTitle;
  align-self: end;
  justify-self: center;
}

.resetShipsLeft {
  grid-area: resetShipsLeft;
}

.resetShipsRight {
  grid-area: resetShipsRight;
}

.leftBoard {
  grid-area: leftBoard;
}

.rightBoard {
  grid-area: rightBoard;
}

.chat-icon {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.chat-box {
  position: absolute;
  bottom: 50px;
  right: 36px;
  min-width: 300px;
  min-height: 300px;
}

.close {
  position: relative;
  left: 90%;
  bottom: 36px;
}

.leftShips {
  grid-area: leftShips;
  /* width: 180px; */
  align-self: center;
  justify-self: center;
}

.rightShips {
  grid-area: rightShips;
  /* width: 180px; */
  align-self: center;
  justify-self: center;
}

.game-container {
  display: grid;
  /* width: 50vw; */
  height: 80vh;
  grid-template-columns: 10% 35% 35% 10%;
  column-gap: 50px;
  grid-template-rows: 10% auto;
  grid-template-areas:
  "leftShips leftTitle rightTitle rightShips" 
  "leftShips leftBoard rightBoard rightShips"
  ". resetShipsLeft resetShipsRight. "
}
