<div class="game-container">
  <mat-card class="leftTitle"> {{leftBoard.user}}'s Board</mat-card>

  <mat-grid-list class="leftBoard" cols="10">
    <mat-grid-tile *ngFor="let tile of leftBoard.tiles;" (click)="update(tile.coord, leftBoard)" [style.background]="shipColor(tile.ship)">
      {{tile.coord}}</mat-grid-tile>
  </mat-grid-list>
  <button mat-button class="resetShipsLeft" *ngIf="placingShips(leftBoard)" (click)="leftBoard = resetShips(leftBoard)">Reset Ships</button>

  <mat-grid-list class="rightBoard" cols="10">
    <mat-grid-tile *ngFor="let tile of rightBoard.tiles;" (click)="update(tile.coord, rightBoard)" [style.background]="shipColor(tile.ship)">
      {{tile.coord}}</mat-grid-tile>
  </mat-grid-list>
  <button mat-button class="resetShipsRight" *ngIf="placingShips(rightBoard)" (click)="resetShips(rightBoard)">Reset Ships</button>

  <mat-card class="rightTitle">Opponent's Board</mat-card>
  <mat-card class="leftShips">
    <mat-card-title>
      Your Ships
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content *ngFor="let ship of leftBoard.ships">
      {{ship.name}}: {{ship.holes}} left
    </mat-card-content>
  </mat-card>

  <mat-card class="rightShips">
    <mat-card-title>
      Opponent Ships
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content *ngFor="let ship of rightBoard.ships;">
      {{ship.name}}: {{ship.holes}} left
    </mat-card-content>
  </mat-card>

  <mat-icon class="chat-icon" (click)="showChat = true"> chat</mat-icon>
  <mat-card class="chat-box" *ngIf="showChat">
    <mat-card-title>Chat</mat-card-title>
    <mat-icon class="close" (click)="showChat = false">
      close
    </mat-icon>
    <mat-divider></mat-divider>
  </mat-card>
</div>