<div class="game-container">
  <mat-card class="yourTitle">Your Board</mat-card>
  <board-component class="leftBoard" [board]="leftBoard"></board-component>
  <board-component class="rightBoard" [board]="rightBoard"></board-component>

  <mat-card class="oppTitle">Opponent's Board</mat-card>
  <mat-card class="yourShips">
    <mat-card-title>
      Your Ships
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content *ngFor="let ship of yourShips;">
      {{ship.name}}: {{ship.holes}} left
    </mat-card-content>
  </mat-card>

  <mat-card class="oppShips">
    <mat-card-title>
      Opponent Ships
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content *ngFor="let ship of oppShips;">
      {{ship.name}}: {{ship.holes}} left
    </mat-card-content>
  </mat-card>

  <mat-icon class="chat-icon" (click)="showChat = true"> chat</mat-icon>
  <mat-card class="chat-box" *ngIf="showChat">
    <mat-card-title>Chat</mat-card-title>
    <mat-icon class="close" (click)="showChat = false">
      close
    </mat-icon>
    <mat-divider></mat-divider>
  </mat-card>
</div>

<button mat-button (click)="send($event)">Submit</button>