<mat-card class="register-card">
	<mat-card-header>
		<mat-card-title>Register</mat-card-title>
	</mat-card-header>

	<mat-form-field appearance="legacy">
		<mat-label>Username</mat-label>
		<input matInput type="text" [(ngModel)]="username" placeholder="Username">
	</mat-form-field>

	<mat-form-field appearance="legacy">
		<mat-label>Password</mat-label>
		<input matInput type="password" [(ngModel)]="password" placeholder="Password">
	</mat-form-field>

    <div>
        <button mat-button (click)="register()">Submit</button>
	    <button mat-button routerLink="/login">Back</button>
    </div>
</mat-card>
