
<mat-card class="login-card">
	<mat-card-header>
		<mat-card-title>Login</mat-card-title>
	</mat-card-header>

	<mat-form-field appearance="legacy">
		<mat-label>Username</mat-label>
		<input matInput type="text" [(ngModel)]="username" placeholder="Username">
	</mat-form-field>

	<mat-form-field appearance="legacy">
		<mat-label>Password</mat-label>
		<input matInput type="text" [(ngModel)]="password" placeholder="Password">
	</mat-form-field>

	<button mat-button (click)="login()">Submit</button>
	<button mat-button routerLink="/register">Register</button>
</mat-card>
