.text {
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 11em;
    font-weight: 700;
    color: #30a4e7;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.mat-button {
    display: flex;
    border-radius: 50px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 25px;
    width: 250px;
    height: 64px;
    line-height: 64px;
    background-color:  #616161;
    color: #e0e0e0;
    font-size: 32px;
    padding:0 !important;
	justify-content: center;
}